@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}
.centr {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_list {
    display: grid;
    grid-template: 581px 581px/repeat(3, 360px);
    margin-bottom: 48px;
    column-gap: 30px;
    row-gap: 25px;

}

.products_list_card_button_text {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products_list_card_button {
    position: absolute;
    width: 360px;
    height: 425px;
    border-width: 0px;
    top: -2px;
    background-color: rgba(58, 56, 56);
    opacity: 0.86;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.products_list_hover:hover .products_list_card_button {
    display: flex;
}

.products_list_card_button_border {
    border-color: #FFF;
    border-width: 1px;
    background-color: rgba(58, 56, 56);
    /* opacity:  0.86; */
    display: flex;
    padding-left: 13.54px;
    gap: 4px;
    padding-top: 11.29px;
    padding-bottom: 8.73px;
    padding-right: 16.41px;
    align-items: center;

}

.products_h3 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

.products_p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
    display: flex;
    justify-content: center;
}


.button {
    margin: 0 auto;
    padding: 15px 39px;
    border: 1px solid #F16D7F;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
    cursor: pointer;
    margin-bottom: 95px;
}

.button_text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:hover .button_text {
    color: #FFF;
}

.button:hover {
    background-color: #F16D7F;
}


.products_list_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F8F8F8;
    position: relative;
}

.products_list_card_img {
    max-height: 100%;
    max-width: 100%;
}

.products_list_card_name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 16px;
}


.products_list_card_description {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 18px;
    padding-left: 16px;
}

.products_list_card_price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    padding-left: 16px;
}
@media (min-width:768px) and (max-width:1024px) {
    .theband {
        font-size: 44px;
    }

    .ofLux {
        font-size: 24px;
    }

    .FASHION {
        font-size: 24px;
    }

    .header_functional {
        gap: 25px;
    }

    .centr {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .imgAndTextTop {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .products_list {
        grid-template: 581px 581px 581px/repeat(2, 360px);
        gap: 16px;
        margin-bottom: 32px;
    }

    .categories {
        grid-template-columns: 231px 231px 231px;
        grid-template-rows: 167px 116px;
        gap: 19px;
        padding-bottom: 109px;
    }

    .img_top {
        width: 386px;
        height: 368px;
    }

    .text_top {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .products_p {
        margin-bottom: 76px;
    }

    .products_h3 {
        margin-bottom: 3px;
    }

    .button {
        margin-bottom: 70px;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
        background: url(./img/Layer41pl.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .additionalInformation {
        flex-direction: column;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

}


@media (max-width:767px) {
    .centr {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .header_functional_profile {
        display: none;

    }

    .header_functional_basket {
        display: none;
    }

    .img_top {
        display: none;
    }

    .imgAndTextTop {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    .categories {
        grid-template-columns: 343px;
        grid-template-rows: 248px 248px 248px 111px;
    }

    .products_list {
        grid-template: repeat(6, 579px)/ 360px;
        row-gap: 16px;
        margin-bottom: 40px;
    }

    .categories_card_img_alter {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        display: block;
    }

    .bottom_card_img {
        display: none;
    }

    .bottom_card_img_background {
        display: none;
    }

    .categories_card_img_background_alt {
        display: block;
    }

    .bottom_card {
        grid-area: 4 / 1;
    }

    .text_top {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
        margin-left: 0px;
        padding-top: 148px;
        padding-bottom: 148px;
    }

    .text_top_image {
        height: 61px;
        width: 12px;
    }

    .theband {
        font-size: 38px;
    }

    .ofLux {
        font-size: 20px;
    }

    .FASHION {
        font-size: 20px
    }

    .button {
        margin-bottom: 85px;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
        background: url(./img/Layer41mob.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .additionalInformation {
        flex-direction: column;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .footer {
        flex-direction: column-reverse;
        gap: 40px;

    }

    .footer_logo {
        margin-top: 43px;
    }

    @media (max-width:374px) {
        .centr{
            min-width: 360px;
        }
        .imgAndTextTop{
            min-width: 360px;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {
    .categories {
        grid-template-columns: 231px 231px 231px;
        grid-template-rows: 167px 116px;
        gap: 19px;
        padding-bottom: 109px;
    } 
    .products_list {
        display: grid;
        grid-template: 500px 500px/repeat(3, 300px);
        margin-bottom: 48px;
        column-gap: 30px;
        row-gap: 25px;
        
    }
    .products_list_card_button {
        width: 300px;
        height: 352px;
        top: -5px
     }

     .products{
        align-items: center;
     }
     .categories{
        justify-content: center;
     }
     .img_top {
        width: 386px;
        height: 368px;
    }

    .text_top {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}